<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
  
    
    <div class="navbar-header">
    
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>  
      <!--
      <a href="/" class="navbar-brand">
        <img src="{{ '/images/logo.jpg' | prepend: site.baseurl }}">
      </a>
      -->
    </div>
    
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        <li>
          <a rel="nofollow" href="{{ '/projects' | prepend: site.baseurl }}">Projects</a>
        </li>
        <li class="dropdown">
          <a href="{{ '/academics' | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown">
          Academics<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a rel="nofollow" href="{{ '/lectures' | prepend: site.baseurl }}">Lectures</a></li>
          <li><a rel="nofollow" href="{{ '/tutorials' | prepend: site.baseurl }}">Tutorials</a></li>
          <li><a rel="nofollow" href="{{ '/templates' | prepend: site.baseurl }}">Templates</a></li>
          <li><a rel="nofollow" href="{{ '/wiki' | prepend: site.baseurl }}">Wiki</a></li>
          </ul>
        </li>
        <li>
          <a rel="nofollow" href="{{ '/blogs' | prepend: site.baseurl }}">Blogs</a>
        </li>
        <!--
        <li class="dropdown">
          <a href="{{ '/blogs' | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown">
          My Blogs<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a rel="nofollow" href="{{ '/blogs' | prepend: site.baseurl }}">Blogs</a></li>
          <li><a rel="nofollow" href="{{ '/tutorials' | prepend: site.baseurl }}">Tutorials</a></li>
          <li><a rel="nofollow" href="{{ '/notes' | prepend: site.baseurl }}">Notes</a></li>
          <li><a rel="nofollow" href="{{ '/templates' | prepend: site.baseurl }}">Templates</a></li>
          <li><a rel="nofollow" href="{{ '/bookmarks' | prepend: site.baseurl }}">Bookmarks</a></li>
          </ul>
        </li>
        -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a rel="nofollow" href="{{ '/resume' | prepend: site.baseurl }}">Resume</a>
        </li>
        <li>
          <a rel="nofollow" href="{{ '/about' | prepend: site.baseurl }}">About</a>
        </li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" href="{{ '/about' | prepend: site.baseurl }}">About Me</a></li>
            <li><a rel="nofollow" href="{{ '/ps' | prepend: site.baseurl }}">Personal Statement</a></li>
            <li class="divider"></li>
            <li><a rel="nofollow" target="_blank" href="{{site.linkedin}}">Linkedin</a></li>
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Github</a></li>
            <li><a rel="nofollow" target="_blank" href="{{site.zhihu}}">Zhihu</a></li>
          </ul>
        </li>
        -->
      </ul>
    </nav>
  </div>
</header>