<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}
    <div class="docs-header" id="content">
     <div class="container">
      <h1>{{ site.name }}</h1>
      <p>{{ site.description }}</p>
      </div>
    </div>


<div class="container docs-container">
  <div class="col-md-9" role="main">
      <!--<div class="panel docs-content">-->
              {{ content }}
      <!--</div>-->
    </div>

</div>

    
    {% include footer.html %}

  </body>
</html>
